p.truncate-3l { /*Add nos cards com a descrição maior*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


form input,
form textarea,
#contato > form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

#cntato > form button {
    background-color: #028091;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #07e2ff;
}
